.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background: #ffffff;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.tag {
  background: #eee1ff;
  color: #c9797e;
  padding: 6px 14px;
  width: fit-content;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.title {
  font-size: 62px;
  font-weight: 800;
  line-height: 1.1;
  color: #222;
}

.desc {
  font-size: 20px;
  color: #555;
  margin-top: 10px;
  max-width: 450px;
}

.shop-btn {
  background: #af542a;
  padding: 15px 35px;
  color: #fff;
  font-size: 20px;
  border-radius: 50px;
  width: 200px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.shop-btn:hover {
  background: #8e334f;
  transform: scale(1.05);
}

/* HERO IMAGE AREA */
.hero-img-wrapper {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}


.hero-main-img {
  height: 550px;
  z-index: 2;
  
  animation: moveUp 4s infinite ease-in-out;
}

@keyframes moveUp {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}
