.popular-section {
  padding: 10px 5%;
}

.popular-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 45px;
}

.popular-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.popular-card {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.popular-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.popular-card:hover img {
  transform: scale(1.15);
}
